*.gem
*.rbc
/coverage/
/test/tmp/
/test/version_tmp/
/tmp/
config/database.yml

# Frontend .gitignore
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/